[Unit]
Description=TPM2 Access Broker and Resource Management Daemon
Requires=tpm_server.service

[Service]
Type=dbus
BusName=com.intel.tss2.Tabrmd
StandardOutput=syslog
ExecStart=/usr/sbin/tpm2-abrmd --tcti=mssim
User=tss

[Install]
WantedBy=multi-user.target
